[package]
name = "ui"
version = "0.1.0"
edition = "2021"

[dependencies]
dioxus = { workspace = true }
api = { workspace = true }
shared = { workspace = true }

[features]
default = []
server = ["api/server"]
